//- =====================
//-  All Mixing  
//- =====================

include ./element-product-sales.pug
include ./element-sale-history.pug
include ./element-activity.pug
include ./element-user-message.pug
include ./element-top-product.pug
include ./element-new-user.pug
include ./element-team-activity.pug
include ./element-notification.pug
include ./element-user-alerts.pug